#order_cart, div.order-invoice table {
  width: 90%;
  border: none;
}

#order_cart h3, #order_cart h4, #order_cart h5 {
  margin-top: 0;
}

#order_cart tr, div.order-invoice table tr {
  vertical-align: top;
  background-color: transparent;
  border: none;
}

#order_cart .cart-quantity, #order_cart .cart-extra-quantity {
  width: 10%;
}

#order_cart .cart-price, #order_cart .cart-extra-price {
  width: 10%;
  text-align: right;
}

#order_cart .cart-total {
  font-weight: bold;
  font-size: 1.1em;
  text-align: right;
}

div.order-cart-item {
  margin-bottom: 1em;
  border-bottom: 1px dashed #ccc;
}

/* Completed Order Styles */

div.order-postal {
  width: 49%;
}

div.order-postal h3 {
  text-transform: capitalize;
}

td.order-total-column, td.order-cost-column {
  font-size: 110%;
  font-weight: bold;
}

table.order-invoice-history tbody > tr:first-child {
  font-size: 110%;
}

div.order-invoice h2 {
  margin-top: 2em;
}

table.order-invoice-items h4 {
  margin-top: 0;
}

/* Login/Register boxes */

div.order-anon {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Order_related.module Styles */

div.order-related-items {
  margin-left: 2em;
  margin-bottom: 1em;
}

div.order-related-items table {
  width: 100%;
}






